body,
form {
  margin: 0 auto;
}
.container {
  width: 50%;
}
.header-content,
img {
  width: 4rem;
}
.header-content {
  margin: 0 auto;
}
h1 {
  font-weight: bold;
  margin-bottom: 1rem;
}
h2 {
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 5rem;
  text-align: center;
}
h3 {
  text-align: center;
  font-size: 0.8rem;
}
h4 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 2rem 0;
}

.button{
  margin-top: 1rem;
}
.content {
  margin: 0 auto;
  width: 60%;
}

.groups-list {
  display: flex;
  flex-wrap: wrap;
}
.group-element {
  margin: 1rem;
  border: 1px solid rgba(138, 135, 135, 0.151);
  min-width: 10rem;
  min-height: 6rem;
  text-align: center;
  box-sizing: border-box;
}
.group-id {
  font-weight: bold;
  margin-top: 1rem;
}
.group-name {
  color: rgb(141, 137, 137);
  font-size: 0.8rem;
}
.bills-table {
  margin: 5rem 0;
}
